

body{
    margin: 0 auto;
    width: 75%;
    display: grid;
    grid-template-rows: 8em 3.5em 150vh 3.5em;
    grid-template-columns:  50vw 25vw;

}

h1{
    display: none;
}

#logo{
    grid-row: 1/2;
    grid-column: 1/3;
}

#navbar{
    grid-row: 2/3;
    grid-column: 1/3;
}

#navbar ul, footer ul{
    list-style: none;
    width: fit-content;
    padding: 0;
    margin: 0 auto;
}

#navbar li, footer li{
    display: inline;
}

main{
    grid-row: 3/4;
    grid-column: 1/2;
}


aside{
    grid-row: 3/4;
    grid-column: 2/3;
}

footer{
    grid-row: 4/5;
    grid-column: 1/3;
}

footer p{
    text-align: center;
    margin: .5em auto;
}