
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --peach:rgb(255, 205, 129);
}

body{
    margin: 0 auto;
    width: 75%;
    display: grid;
    grid-template-rows: 8em 3.5em 150vh 3.5em;
    grid-template-columns:  50vw 25vw;
    font-family: "Josefin Sans", Ariel, sans-serif;
}

h1{
    display: none;
}

#logo{
    grid-row: 1/2;
    grid-column: 1/3;
}

#navbar{
    grid-row: 2/3;
    grid-column: 1/3;
    border-top: .33em solid var(--peach);
    border-bottom: .33em solid var(--peach);
}

#navbar ul, footer ul{
    list-style: none;
    width: fit-content;
    padding: 0;
    margin: 0 auto;
}

#navbar li, footer li{
    display: inline;
    font-size: 1.5em;
    padding-right: 1.5em;
}

#navbar li:last-child, footer li:last-child{
    padding-right: 0;
}

#navbar li a{
    font-size: 1.5em;
}


main{
    grid-row: 3/4;
    grid-column: 1/2;
}


aside{
    grid-row: 3/4;
    grid-column: 2/3;
}

footer{
    grid-row: 4/5;
    grid-column: 1/3;
}

footer p{
    text-align: center;
    margin: .5em auto;
}