

/*TODO: Not make it look like allrecipes circa 2010.*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --peach:rgb(255, 205, 129);
    --black: rgb(19, 17, 15);
    --white: rgb(255, 252, 250);
    --orange:rgba(255, 154, 85, .9);
    --yellow:rgba(254, 236, 138, .45);
    --green: rgb(92, 145, 59);
    --dark-green: rgb(64, 92, 47);
    --off-white: rgb(244, 237, 232);
    --dark-peach: rgb(255, 190, 93);
    --darker-peach: rgb(249, 168, 47);
}

body{
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-rows: 2em 3.5em 7em auto 3.5em;
    grid-template-columns:  65vw 23vw;
    font-family: "Josefin Sans", Ariel, sans-serif;
    column-gap: 1.5em;
    background: var(--white);
    text-color: var(--black);

}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.75em;
}

h3{
    font-size: 1.5em;
    margin-top: 0;
}

header{
    grid-row: 1/3;
    grid-column: 1/3;
    padding-top: 1em;
}

nav{
    width: fit-content;
}

nav ul, footer ul{
    list-style: none;
    width: fit-content;
    padding: 0;
    margin: 0 auto;
}

nav li, footer li{
    display: inline;
    font-size: 1.5em;
    padding-right: .75em;
}

nav li:last-child, footer li:last-child{
    padding-right: 0;
}

nav li a{
    font-size: 1.5em;
}

.section-header{
    background-image: url("../images/orangebg.webp");
    background-color: #ff9a55;
    background: linear-gradient(111deg, var(--orange) 0%, var(--peach) 33%, var(--white) 75%);
    grid-row: 3/4;
    grid-column: 1/3;
    display:block;
    height: 4em;
    margin: 1em .75em;
    padding: 0 1em;
    
}

button, #recipe-submit, #newsletter-submit{
    background-color: var(--orange);
    border: 0;
    border-radius: 2em;
    color: var(--white);
    padding: .5em .75em;
    font-family:  "Josefin Sans", Ariel, sans-serif;
    font-weight: bold;
    font-size: .75em;
    box-shadow: .125em .125em .25em var(--off-white);
}

form button, #recipe-submit, #newsletter-submit{
    background-color: var(--orange);
    padding: .5em .75em;
    font-size: .75em;
    font-weight: 500;
    margin: .5em;
    box-shadow: .125em .125em .25em var(--darker-peach);
}



main{
    grid-row: 4/5;
    grid-column: 1/2;
    padding: .75em;
    padding-top: 0;
}

main hr{
    width: clamp(40ch, 76%, 75ch);
}

aside{
    grid-row: 4/5;
    grid-column: 2/3;
}

footer{
    grid-row: 5/6;
    grid-column: 1/3;
    float:bottom;
    margin-top: .5em;
}

footer p{
    text-align: center;
    margin: .5em auto;
}

header img{
    height: 2em;
}

h1{
    display: inline;
}

nav{
    float: right;
    float: bottom;
    padding-top: .7em;
}

nav ul{
    margin: 0;
}

nav li a{
    font-size: 1em;
}


.newsletter{
    background: var(--peach);
    padding: .5em;
    border-radius: 2em;
    box-shadow: .125em .125em .125em var(--off-white);
}

form h3, form p{
    text-align: center;
    margin-top: .75em;
}

#newsletter-submit, #recipe-submit{
    display: block;
    width: fit-content;
    margin: .25em auto;
}

#newsletter p{
    padding: 1em;
}

.recipe-box{
    background: var(--peach);
    border-radius: 2em;
    padding: .5em 1em;
    width: clamp(40ch, 50%, 75ch);
    margin: 0 auto;
    box-shadow: .125em .125em .125em var(--off-white);
}

input, select{
    margin: .150em 0;
    margin-bottom: .5em;
    border: none;
    border-radius: .25em;
    background-color: var(--white);
    font-family: "Josefin Sans", Ariel, sans-serif;
    box-shadow: .125em .125em .125em var(--orange);
    width: 100%;
    height: 1.5em;
}

input:hover, input:active, input:focus{
    border-bottom: .125em solid var(--green);
    margin-bottom: .375em;
}

label{
    font-weight: bold;
}

p, ul, li {
    /*Trick I like to do for readibility.
    Makes paragraphs too small for desktops. 
    Add to mobile format?*/
    /*width: clamp(40ch, 20%, 75ch);*/
    font-size: 1em;
    margin: .75em 0;
}

article{
    margin: 1em 0;
    margin-top: 0;
    padding-bottom: 1em;
    width: clamp(40ch, 75%, 75ch);
}

hr{
    border-top: .5em dotted var(--orange);
    margin: 1.5em .25em;
}

a{
    color: var(--green);
}

a:visited{
    color: var(--dark-green);
}

a:hover, a:active{
    color: var(--orange);
}

#latest{
    background: var(--yellow);
    padding: 1em 1.5em;
    border-radius: 2em;
    box-shadow: .125em .125em .125em var(--off-white);
}

#latest h4{
    margin: 0 0 .5em 0;
    font-size: 1.25em;
    font-weight: 500;
}

#latest h3{
    margin-bottom: .5em;
}

#latest button{
    background: var(--orange);
    box-shadow: .125em .125em .25em var(--dark-peach);
}
